body {
    margin: 0px;
    height: 840px;
    padding-top: 90px;
    padding-left: 130px;
    background-color: aliceblue;

}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    border-bottom: 1px solid #b1afaf;
}

.left {
    display: flex;
    align-items: center;
}

.menu-icon {
    height: 24px;
    margin-left: 25px;
    margin-right: 25px;
}

.youtube-logo {
    height: 50px;
}

.middle {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 700px;
}

.search {
    height: 50px;
    border: 1px solid #d3d3d3;
    flex: 1;
    border-radius: 25px 0px 0px 25px;
    padding-left: 20px;
}

.search-container {
    height: 50px;
    width: 70px;
    border: 1px solid #d3d3d3;
    border-radius: 0px 25px 25px 0px;
    background-color: #f8f8f8;
    border-left-width: 0px;
}

.search-icon {
    height: 24px;
}

.record-container {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid #d3d3d3;
    margin-left: 10px;
    background-color: #f8f8f8;
    
}

.record-icon {
    height: 24px;
}
 
.right {
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.add-icon {
    height: 24px;
}

.grid-icon {
    height: 24px;
}

.notification-icon {
    height: 24px;
}

.my-profile {
    height: 40px;
    border-radius: 20px;
}

.side-bar {
    background-color: white;
    width: 110px;
    position: fixed;
    top: 70px;
    left: 0px;
    bottom: 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid #b1afaf;
}

.bar {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 30px;
}

.label {
    font-family: 'Segoe UI';
    font-size: 12px;
    font-weight: 700;    
}

.cover-image {
    width: 100%;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
}
.preview {
    transition: background-color 0.15s;
}


.preview:hover {
    background-color: #3e00841a;
    cursor: pointer;
    
}

.info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.picture {
    width: 40px;
    border-radius: 20px;
}

.title {
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0px;
}

.author {
    font-family:'Segoe UI' ;
    font-size: 18px;
    color:#3d3d3d;
    margin:5px 0px
}

.status {
    font-family: Segoe UI;
    font-size: 16px;
    color:#3d3d3d;
    margin: 5px 0px;
}
