 <style>

        .heading {
            font-family: 'Segoe UI';
            font-weight: bold;
            font-size: 25px;
            text-align: center;
            color: rgb(0, 209, 216)
        }

        .heading {
            font-family: 'Segoe UI';
            font-weight: bold;
            font-size: 25px;
            text-align: center;
            color: rgb(0, 209, 216)
        }
        .line {
            font-family: 'Segoe UI';
            font-size: 17px;
            color: gray;
            text-align: center;
        }
        
    </style>

